$red: #3498db; // #c0392b;
$header-bg: #60b4f4;
$header-color: #121213;

@import "components/common";
@import "components/header";
@import "components/widget";
@import "components/category";
@import "components/blog";

body {
	font-size: 14px;

	@media (min-width: 768px) {
		font-size: 16px;
	}
}
.onsale {
  background: #ff6757;
  border: 0;
  border-radius: 0;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
}

#comments {
	display: none;
}
.swiper-container-partners {
	margin-bottom: 40px;
}
.top-banner .col-full {
	position: relative;
	> img {
		width: 100%;
	}
}
.swiper-home-banner-container {
	background-color: #fff;
	background-repeat: no-repeat;
  background-size: auto 100%;
  width: 300px;
  height: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	@media (min-width: 414px) {
		position: absolute;
		bottom: 50px;
		right: 200px;
	}
	.swiper-slide {
		max-height: 400px;	
		display: block;
		height: auto;
	}

	.img-wrap {
		height: 100%;
		text-align: right;
		position: relative;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-width: 100%;
			max-height: 100%;
		}
	}
}

ul.products li.product img {
	max-width: 100%;
}
ul.products li.product {
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 49%;
	margin-right: 1%;
	float: left;
	.product-thumbnail-wrap {
		padding-bottom: 100%;
		position: relative;
		margin-bottom: 20px;
		img {
			position: absolute;
			max-width: 100%;
			max-height: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin: 0;
		}
	}
}

ul.products li.product .woocommerce-loop-product__title, 
ul.products li.product h2, 
ul.products li.product h3 {
	min-height: 2.428em;
}

ul.products li.product {
	.price {
		color: $red;
		font-size: 18px;
		font-weight: bold;
		
		del {
			display: block;
			font-size: 12px;
			color: #333;
		}

		ins {
			display: block;
			margin: 0;
		}
	}
}
.maps {
	iframe {
		width: 100%;
	}
}
.partners-image {
	background-color: #fff;
	padding: 10px;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	.img {
		width: 50%;
		height: auto;
		padding: 10px;
		float: left;
		img {
			width: 100%;
		}
	}
}
.left-sidebar .widget-area {
	display: none;
}
@media (max-width: 568px) {
	.col-full {
	    margin-left: 10px;
	    margin-right: 10px;
	}
}

@media (min-width: 768px) {
	.left-sidebar .widget-area {
		display: block;
	}
}
// HEADER
@media (min-width: 768px) {
	.storefront-primary-navigation {
		background-color: rgba(0, 0, 0, 0.6);
	}
	
	.site-header-cart .cart-contents,
	.main-navigation ul.menu > li > a, 
	.main-navigation ul.nav-menu > li > a {
		padding-top: 15px;
		padding-bottom: 15px;
		color: $header-color;
	}

	.site-header {
		padding-top: 0;
		height: 65px;

		.header-inner {
			background: $header-bg;
			box-shadow: 3px 0 5px rgba(0, 0, 0, 0.15);
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			padding: 5px 0;
		}


		.top-info {
			padding-top: 2.617924em;
			background-size: cover;
			background-position: center center;
			min-height: 250px;
		}

		.site-branding {
			margin-bottom: 3.125em;
		}
	}

	.storefront-primary-navigation-wrapper {
		// background-color: $red;
		// border-radius: 4px;
		// margin-top: 10px;
	}

	.storefront-primary-navigation {
		background: none;
	}

	.site-header-cart .cart-contents, 
	.main-navigation ul.menu > li > a, 
	.main-navigation ul.nav-menu > li > a {
		&:hover {
			// background-color: rgba(0, 0, 0, 0.1);
		}
	}
	.main-navigation ul.nav-menu > li.current-menu-item > a {
		background-color: transparent;
		box-shadow: inset 0 3px 0 0 #c0392b;
		color: #c0392b;
	}
		

	.site-header-cart .widget_shopping_cart, 
	.site-header .product_list_widget li .quantity {
		color: #fff;
	}

	.main-navigation ul.menu>li:first-child, 
	.main-navigation ul.nav-menu>li:first-child {
		margin-left: 0;
	}

	.site-header-cart {
		position: relative;

		> li:first-child > a {
			padding-left: 20px;
			padding-right: 20px;
		}

		.cart-contents {
			span {
				display: none;
			}

			.count {
				display: inline-block;
				background-color: #c0392b;
				color: #fff;
				border-radius: 3px;
				padding: 4px 10px;
				opacity: 1;
				font-weight: 400;
				margin-right: 5px;
				font-size: 12px;
				line-height: 1;
			}
		}
	}

	.site-main  ul.products li.product {
		width: 29.4117647059%;
		margin: 0;
		margin-right: 5.8823529412%;
		margin-bottom: 2%;
		text-align: left;
		background-color: #fff;
		padding: 20px;  
		transition: all 0.3s ease;
		border: 1px solid transparent;

		.button {
			display: block;
			text-align: center;
		}

		&:hover {
			border: 1px solid #f8f8f8;
			box-shadow: 0 0 20px rgba(0,0,0,.1);
		}
	}

	.site-main .columns-4 ul.products li.product {
		width: 24%;
		margin: 0;
		margin-right: 1%;
		margin-bottom: 1%;
	}
	
	.site-main .storefront-product-sharing {
	  padding-top: 0;
	}
	.main-navigation ul li.current_page_parent a,
	.main-navigation ul li a:hover, 
	.main-navigation ul li:hover > a, 
	.site-title a:hover, a.cart-contents:hover, 
	.site-header-cart .widget_shopping_cart .mini_cart_item > li > a:hover, 
	.site-header-cart:hover > li > a, 
	.site-header ul.menu > li.current-menu-item > a {
		color: #c0392b;
		box-shadow: inset 0 3px 0 0 #c0392b;
		background: none;
	}

	.woocommerce-active .site-header .site-header-cart {
		width: auto;
	}

	.site-header-cart .cart-contents:after {
		float: none;
	}

	.site-header-cart .widget_shopping_cart {
		min-width: 300px;
		left: auto;
		right: 0;
		display: none;
	}

	.site-header-cart.focus .widget_shopping_cart, .site-header-cart:hover .widget_shopping_cart {
		left: auto;
		right: 0;
	}
}