body {
  background-color: #f4f4f4; }

select:focus {
  outline: 2px solid #3498db; }

.sfb-footer-bar .widget .textwidget {
  color: #fff; }

.sfb-footer-bar .widget p {
  margin-bottom: 5px; }

.site-footer {
  padding: 0;
  background-color: #2c2d33; }
  .site-footer .site-info {
    padding: 20px 0; }
    @media (min-width: 768px) {
      .site-footer .site-info {
        width: 70%;
        float: left;
        padding: 60px 0; } }
  .site-footer .facebook-page {
    padding-bottom: 40px; }
    @media (min-width: 768px) {
      .site-footer .facebook-page {
        width: 30%;
        float: left;
        padding-top: 2.618em; } }
  .site-footer .info-list {
    color: #fff;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .site-footer .info-list li {
      margin-bottom: 5px; }
    .site-footer .info-list a {
      color: #3498db; }

.site-info {
  padding: 20px 0; }

.site-content {
  margin-top: 30px; }

.site-logo {
  height: 50px; }

.nav-brand {
  float: left; }

.home.page:not(.page-template-template-homepage) .site-header {
  margin-bottom: 0; }

.storefront-product-section {
  position: relative; }
  .storefront-product-section .section-title {
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: left;
    line-height: inherit;
    margin-top: 10px;
    text-transform: uppercase; }
  .storefront-product-section .view-more {
    position: absolute;
    right: 10px;
    top: 1px;
    color: #3498db;
    font-weight: normal;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #3498db;
    padding: 3px 10px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .storefront-product-section .view-more:hover {
      background-color: #3498db;
      color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .storefront-product-section:after {
    content: '';
    display: block;
    clear: both; }
  .storefront-product-section .woocommerce {
    clear: both; }
  .storefront-product-section + .storefront-product-section {
    margin-top: 40px; }

.storefront-product-sharing {
  margin-top: 25px; }
  .storefront-product-sharing ul {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block; }
  .storefront-product-sharing .fa {
    font-size: 25px;
    display: inline-block;
    padding: 0 10px;
    cursor: pointer; }

ul.products li.product .price, ul.products li.product .star-rating {
  margin-left: 0; }

.hotline {
  position: fixed;
  z-index: 1000;
  background: #c0392b;
  padding: 10px 20px;
  color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  bottom: 0;
  right: 0;
  width: 100%; }
  @media (min-width: 768px) {
    .hotline {
      top: 100px;
      right: 0;
      bottom: auto;
      width: auto; } }
  .hotline a {
    color: #fff; }
  .hotline hr {
    display: inline-block;
    margin: 0 5px;
    height: 16px;
    width: 1px; }
    @media (min-width: 768px) {
      .hotline hr {
        display: block;
        margin: 5px 0;
        width: auto;
        height: 1px; } }
  .hotline h3 {
    color: #fff;
    font-weight: normal;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1; }
  .hotline p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    display: inline-block; }
    @media (min-width: 768px) {
      .hotline p {
        display: block; } }

.page-template-template-contact .content-area {
  width: auto;
  float: none; }

.widget_policy_widget li {
  border-radius: 4px;
  background-color: #fff; }
  .widget_policy_widget li > a {
    display: block;
    padding: 10px; }
  .widget_policy_widget li:hover {
    background-color: #f8f8f8; }
  .widget_policy_widget li + li {
    margin-top: 1px; }

.price {
  font-size: 20px;
  color: #c0392b; }

.single-product div.product form.cart .button,
.single-product div.product form.cart .quantity {
  float: none; }

.single-product div.product form.cart .button {
  margin-top: 20px;
  background-color: #c0392b; }

@media (min-width: 768px) {
  .woocommerce-tabs ul.tabs {
    float: none;
    margin-right: 0;
    width: auto;
    text-align: center;
    border-top: 0; }
    .woocommerce-tabs ul.tabs li {
      display: inline-block;
      border: 0; }
      .woocommerce-tabs ul.tabs li a {
        padding-left: 30px;
        padding-right: 30px;
        color: #ddd; }
      .woocommerce-tabs ul.tabs li.active {
        box-shadow: inset 0 4px #3498db; }
        .woocommerce-tabs ul.tabs li.active a {
          color: #3498db;
          outline: none; }
      .woocommerce-tabs ul.tabs li a:active {
        outline: none; }
  .woocommerce-tabs .panel {
    width: auto;
    float: none; } }

.header-widget-region .col-full {
  padding: 0;
  max-width: none; }

.site-header {
  height: 50px; }
  .site-header .header-inner {
    background-color: #3498db;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; }
  @media (min-width: 768px) {
    .site-header {
      height: auto; }
      .site-header .header-inner {
        position: static;
        width: auto; } }

.woocommerce-active .site-header {
  padding-top: 0;
  padding-bottom: 0; }
  @media (min-width: 768px) {
    .woocommerce-active .site-header {
      padding-top: 25px;
      padding-bottom: 25px; } }
  .woocommerce-active .site-header .main-navigation {
    width: auto;
    margin-right: 0;
    clear: none;
    margin-left: 20px; }
    .woocommerce-active .site-header .main-navigation > .menu {
      display: none; }
  .woocommerce-active .site-header .site-search {
    margin-bottom: 0;
    margin-top: 10px; }

.site-search .widget_product_search input[type=search],
.site-search .widget_product_search input[type=text] {
  padding-top: 10px;
  padding-bottom: 10px; }

.site-search .widget_product_search form:before {
  top: 50%;
  margin-top: -7px;
  left: 20px; }

.main-navigation button.menu-toggle {
  z-index: 11;
  padding: 0;
  width: 40px;
  height: 40px;
  border: 0;
  background: none;
  margin-top: 5px; }
  .main-navigation button.menu-toggle:focus {
    outline: none; }
  @media (min-width: 770px) {
    .main-navigation button.menu-toggle {
      display: none; } }

.main-navigation .primary-navigation {
  display: block; }
  .main-navigation .primary-navigation .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.9);
    max-height: none;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .main-navigation .primary-navigation .nav-menu[aria-expanded="true"] {
      -webkit-transform: translate(0);
          -ms-transform: translate(0);
              transform: translate(0); }
    .main-navigation .primary-navigation .nav-menu li {
      padding: 0 20px; }
      @media screen and (min-width: 768px) {
        .main-navigation .primary-navigation .nav-menu li {
          padding: 0; } }
      .main-navigation .primary-navigation .nav-menu li:first-child {
        margin-top: 40px; }
        @media (min-width: 768px) {
          .main-navigation .primary-navigation .nav-menu li:first-child {
            margin-top: 0; } }
  @media (min-width: 770px) {
    .main-navigation .primary-navigation {
      float: left; }
      .main-navigation .primary-navigation .nav-menu {
        position: static;
        width: auto;
        height: auto;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        background: none; } }

.widget .widget-title,
.widget .widgettitle {
  padding: 10px;
  margin-bottom: 10px;
  background: #3498db;
  border-radius: 4px;
  color: #fff;
  font-weight: normal;
  font-size: 16px; }

.widget_recent_entries ul > li {
  background-color: #fff;
  margin-top: 1px;
  padding: 10px;
  border-radius: 0 0 4px 4px;
  margin-bottom: 0; }
  .widget_recent_entries ul > li:first-child {
    border-radius: 4px 4px 0 0; }
  .widget_recent_entries ul > li:before {
    display: none; }
  .widget_recent_entries ul > li:after {
    content: '';
    display: block;
    clear: both; }
  .widget_recent_entries ul > li .img-wrap {
    float: left; }
  .widget_recent_entries ul > li .content-inner {
    overflow: auto;
    padding-left: 10px; }

.widget_pages ul {
  margin-bottom: 0; }
  .widget_pages ul > li {
    background-color: #fff;
    border-radius: 4px;
    padding: 10px; }
    .widget_pages ul > li:hover {
      background-color: rgba(193, 57, 43, 0.03); }

.widget-area .widget a,
.hentry .entry-header .posted-on a,
.hentry .entry-header .byline a {
  color: #333; }

.widget_products ul > li {
  padding: 10px;
  border-radius: 4px;
  background-color: #fff; }
  .widget_products ul > li + li {
    margin-top: 1px; }
  .widget_products ul > li .product-title {
    font-weight: bold; }

.WP_Editor_Widget h1, .WP_Editor_Widget h2, .WP_Editor_Widget h3, .WP_Editor_Widget h4, .WP_Editor_Widget h5, .WP_Editor_Widget h6 {
  margin-top: 10px;
  margin-bottom: 0; }

.widget_price_filter .widget-title {
  background: none;
  color: #333;
  font-size: 25px;
  font-weight: bold; }

.widget_price_filter .price_label {
  font-weight: bold; }

.widget_product_categories ul li {
  margin-bottom: 0; }
  .widget_product_categories ul li:before {
    display: none; }
  .widget_product_categories ul li.cat-parent {
    position: relative; }
    .widget_product_categories ul li.cat-parent:before {
      content: '\f0da';
      float: right;
      margin-right: 0;
      margin-top: 2px;
      display: block;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: absolute;
      top: 10px;
      right: 10px; }
    .widget_product_categories ul li.cat-parent:hover:before {
      color: #3498db;
      opacity: 1; }

.product-categories {
  border-radius: 4px; }
  .product-categories li {
    margin: 0; }
    .product-categories li + li {
      margin-top: 1px; }
    .product-categories li > a {
      padding: 10px;
      padding-left: 15px;
      display: block;
      background-color: #fff; }
    .product-categories li.current-cat-parent > a,
    .product-categories li:hover > a,
    .product-categories li.current-cat > a {
      box-shadow: inset 4px 0 0 #c0392b;
      background-color: rgba(193, 57, 43, 0.03); }
    .product-categories li > a:not(.button) {
      text-decoration: none; }
  .product-categories .cat-parent .children {
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 200px;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }
    .product-categories .cat-parent .children > li > a {
      padding-left: 20px; }
    .product-categories .cat-parent .children > li + li {
      border-top: 1px solid #f8f8f8;
      margin-top: 0; }
  .product-categories .cat-parent:hover > a {
    background-color: #fff, rgba(193, 57, 43, 0.03); }
  .product-categories .cat-parent:hover .children {
    display: block; }

.widget-area .product-categories li a:not(.button) {
  text-decoration: none; }

@media (min-width: 768px) {
  .products + .storefront-sorting {
    margin-top: 20px;
    margin-bottom: 0; }
  .storefront-sorting {
    margin-bottom: 20px; } }

body.single-post .content-area {
  background-color: #fff;
  padding: 30px; }
  body.single-post .content-area .comments-link {
    display: none; }

body.single-post .nav-links {
  clear: both; }

@media (min-width: 768px) {
  body.blog .hentry.type-post {
    -webkit-transition: box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease; }
    body.blog .hentry.type-post:hover {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
    body.blog .hentry.type-post .entry-content {
      float: none;
      width: auto;
      padding: 15px;
      padding-bottom: 5px; }
      body.blog .hentry.type-post .entry-content img {
        width: 100%;
        margin-bottom: 0; }
    body.blog .hentry.type-post .entry-header {
      margin-bottom: 5px; }
    body.blog .hentry.type-post .entry-meta {
      float: none;
      width: auto;
      margin: 0;
      padding: 5px 15px 15px; }
      body.blog .hentry.type-post .entry-meta .author {
        margin-bottom: 5px; }
        body.blog .hentry.type-post .entry-meta .author img {
          display: none; }
      body.blog .hentry.type-post .entry-meta .cat-links {
        margin-bottom: 5px; }
      body.blog .hentry.type-post .entry-meta .comments-link {
        display: none; }
      body.blog .hentry.type-post .entry-meta .label {
        display: inline; }
    body.blog .hentry.type-post .entry-title {
      font-size: 20px; }
    body.blog .hentry.type-post .post-excerpt {
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis; }
  body.blog .site-main:after {
    content: '';
    display: block;
    clear: both; }
  body.blog .site-main .post {
    width: 30%;
    float: left;
    background-color: #fff;
    margin-left: 3.33333333%; } }

body {
  font-size: 14px; }
  @media (min-width: 768px) {
    body {
      font-size: 16px; } }

.onsale {
  background: #ff6757;
  border: 0;
  border-radius: 0;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0; }

#comments {
  display: none; }

.swiper-container-partners {
  margin-bottom: 40px; }

.top-banner .col-full {
  position: relative; }
  .top-banner .col-full > img {
    width: 100%; }

.swiper-home-banner-container {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 300px;
  height: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
  @media (min-width: 414px) {
    .swiper-home-banner-container {
      position: absolute;
      bottom: 50px;
      right: 200px; } }
  .swiper-home-banner-container .swiper-slide {
    max-height: 400px;
    display: block;
    height: auto; }
  .swiper-home-banner-container .img-wrap {
    height: 100%;
    text-align: right;
    position: relative; }
    .swiper-home-banner-container .img-wrap img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%; }

ul.products li.product img {
  max-width: 100%; }

ul.products li.product {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 49%;
  margin-right: 1%;
  float: left; }
  ul.products li.product .product-thumbnail-wrap {
    padding-bottom: 100%;
    position: relative;
    margin-bottom: 20px; }
    ul.products li.product .product-thumbnail-wrap img {
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      margin: 0; }

ul.products li.product .woocommerce-loop-product__title,
ul.products li.product h2,
ul.products li.product h3 {
  min-height: 2.428em; }

ul.products li.product .price {
  color: #3498db;
  font-size: 18px;
  font-weight: bold; }
  ul.products li.product .price del {
    display: block;
    font-size: 12px;
    color: #333; }
  ul.products li.product .price ins {
    display: block;
    margin: 0; }

.maps iframe {
  width: 100%; }

.partners-image {
  background-color: #fff;
  padding: 10px; }
  .partners-image:after {
    content: '';
    display: block;
    clear: both; }
  .partners-image .img {
    width: 50%;
    height: auto;
    padding: 10px;
    float: left; }
    .partners-image .img img {
      width: 100%; }

.left-sidebar .widget-area {
  display: none; }

@media (max-width: 568px) {
  .col-full {
    margin-left: 10px;
    margin-right: 10px; } }

@media (min-width: 768px) {
  .left-sidebar .widget-area {
    display: block; } }

@media (min-width: 768px) {
  .storefront-primary-navigation {
    background-color: rgba(0, 0, 0, 0.6); }
  .site-header-cart .cart-contents,
  .main-navigation ul.menu > li > a,
  .main-navigation ul.nav-menu > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #121213; }
  .site-header {
    padding-top: 0;
    height: 65px; }
    .site-header .header-inner {
      background: #60b4f4;
      box-shadow: 3px 0 5px rgba(0, 0, 0, 0.15);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 5px 0; }
    .site-header .top-info {
      padding-top: 2.617924em;
      background-size: cover;
      background-position: center center;
      min-height: 250px; }
    .site-header .site-branding {
      margin-bottom: 3.125em; }
  .storefront-primary-navigation {
    background: none; }
  .main-navigation ul.nav-menu > li.current-menu-item > a {
    background-color: transparent;
    box-shadow: inset 0 3px 0 0 #c0392b;
    color: #c0392b; }
  .site-header-cart .widget_shopping_cart,
  .site-header .product_list_widget li .quantity {
    color: #fff; }
  .main-navigation ul.menu > li:first-child,
  .main-navigation ul.nav-menu > li:first-child {
    margin-left: 0; }
  .site-header-cart {
    position: relative; }
    .site-header-cart > li:first-child > a {
      padding-left: 20px;
      padding-right: 20px; }
    .site-header-cart .cart-contents span {
      display: none; }
    .site-header-cart .cart-contents .count {
      display: inline-block;
      background-color: #c0392b;
      color: #fff;
      border-radius: 3px;
      padding: 4px 10px;
      opacity: 1;
      font-weight: 400;
      margin-right: 5px;
      font-size: 12px;
      line-height: 1; }
  .site-main ul.products li.product {
    width: 29.4117647059%;
    margin: 0;
    margin-right: 5.8823529412%;
    margin-bottom: 2%;
    text-align: left;
    background-color: #fff;
    padding: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid transparent; }
    .site-main ul.products li.product .button {
      display: block;
      text-align: center; }
    .site-main ul.products li.product:hover {
      border: 1px solid #f8f8f8;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }
  .site-main .columns-4 ul.products li.product {
    width: 24%;
    margin: 0;
    margin-right: 1%;
    margin-bottom: 1%; }
  .site-main .storefront-product-sharing {
    padding-top: 0; }
  .main-navigation ul li.current_page_parent a,
  .main-navigation ul li a:hover,
  .main-navigation ul li:hover > a,
  .site-title a:hover, a.cart-contents:hover,
  .site-header-cart .widget_shopping_cart .mini_cart_item > li > a:hover,
  .site-header-cart:hover > li > a,
  .site-header ul.menu > li.current-menu-item > a {
    color: #c0392b;
    box-shadow: inset 0 3px 0 0 #c0392b;
    background: none; }
  .woocommerce-active .site-header .site-header-cart {
    width: auto; }
  .site-header-cart .cart-contents:after {
    float: none; }
  .site-header-cart .widget_shopping_cart {
    min-width: 300px;
    left: auto;
    right: 0;
    display: none; }
  .site-header-cart.focus .widget_shopping_cart, .site-header-cart:hover .widget_shopping_cart {
    left: auto;
    right: 0; } }
