body.single-post {
  .content-area {
    background-color: #fff;
    padding: 30px;

    .comments-link {
      display: none;
    }
  }

  .nav-links {
    clear: both;
  }
}

@media (min-width: 768px) {
  body.blog {
    .hentry.type-post {
      transition: box-shadow 0.2s ease;

      &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      }
      .entry-content {
        float: none;
        width: auto;
        padding: 15px;
        padding-bottom: 5px;

        img {
          width: 100%;
          margin-bottom: 0;
        }
      }
      .entry-header {
        margin-bottom: 5px;
        // padding: 15px;
      }
      .entry-meta {
        float: none;
        width: auto;
        margin: 0;
        padding: 5px 15px 15px;
        .author {
          margin-bottom: 5px;
          img {
            display: none;
          }
        }

        .cat-links {
          margin-bottom: 5px;
        }
        .comments-link {
          display: none;
        }
        .label {
          display: inline;
        }
      }
      .entry-title {
        font-size: 20px;
      }
      // .post-thumbnail {
      //  position: relative;
      //  padding-bottom: 100%;
      //  img {
      //    position: absolute;
      //    top: 50%;
      //    left: 50%;
      //    max-width: 100%;
      //    max-height: 100%;
      //    margin: 0;
      //    transform: translate(-50%, -50%);
      //  }
      // }
      .post-excerpt {
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
      }
    }
    .site-main {
      &:after {
        content: '';
        display: block;
        clear: both;
      }

      .post {
        width: 30%;
        float: left;
        background-color: #fff;
        margin-left: 3.33333333%;
      }
    }
  }
}