.widget_product_categories ul li {
	margin-bottom: 0;

	&:before {
		display: none;
	}

	&.cat-parent {
		position: relative;

		&:before {
			content: '\f0da';
			float: right;
			margin-right: 0;
			margin-top: 2px;
			display: block;
			transition: all 0.3s ease;
			position: absolute;
			top: 10px;
			right: 10px;
		}

		&:hover:before {
			color: $red;
			opacity: 1;
		}
	}
}

.product-categories {
	border-radius: 4px;

	li {
		margin: 0;

		+ li {
			margin-top: 1px;
		}
		
		> a {
			padding: 10px;
			padding-left: 15px;
			display: block;
			background-color: #fff;
		}
		
		&.current-cat-parent > a,
		&:hover > a,
		&.current-cat > a {
			box-shadow: inset 4px 0 0 #c0392b;
			background-color: rgba(193, 57, 43, 0.03);
		}

		> a:not(.button) {
			text-decoration: none;
		}
	}

	.cat-parent {
		.children {
			display: none;
			padding: 0;
			margin: 0;
			position: absolute;
			top: 0;
			left: 100%;
			min-width: 200px;
			z-index: 10;
			background-color: #fff;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
			
			> li {
				> a {
					padding-left: 20px;
				}

				+ li {
					border-top: 1px solid #f8f8f8;
					margin-top: 0;
				}
			}
		}

		&:hover {
			> a {
				background-color: #fff, rgba(193, 57, 43, 0.03);
			}

			.children {
				display: block;
			}
		}
	}

}

.widget-area {
	.product-categories li  a:not(.button) {
		text-decoration: none;
	}
}

@media (min-width: 768px) {
	.products + .storefront-sorting {
		margin-top: 20px;
		margin-bottom: 0;
	}

	.storefront-sorting {
		margin-bottom: 20px;
	}
}