
body {
	background-color: #f4f4f4;
}

select:focus {
  outline: 2px solid $red;
}

.sfb-footer-bar .widget .textwidget {
	color: #fff;
}

.sfb-footer-bar .widget p {
	margin-bottom: 5px;
}

.site-footer {
	padding: 0;
  background-color: #2c2d33;

  .site-info {
    padding: 20px 0;

    @media (min-width: 768px) {
      width: 70%;
      float: left;  
      padding: 60px 0;
    }
  }

  .facebook-page {
    padding-bottom: 40px;
    
    @media (min-width: 768px) {
      width: 30%;
      float: left;
      padding-top: 2.618em;
    }
  }

  .info-list {
    color: #fff;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin-bottom: 5px;
    }
    a {
      color: $red;
    }
  }
}

.site-info {
	padding: 20px 0;
}

.site-content {
	margin-top: 30px;
}

.site-logo {
  height: 50px;
}

.nav-brand {
  float: left;
}

.home.page:not(.page-template-template-homepage) .site-header {
	margin-bottom: 0;
}

.storefront-product-section {
  position: relative;

  .section-title {
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: left;
    line-height: inherit;
    margin-top: 10px;
    text-transform: uppercase;
  }

  .view-more {
    position: absolute;
    right: 10px;
    top: 1px;
    color: $red;
    font-weight: normal;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid $red;
    padding: 3px 10px;
    transition: all 0.2s ease;

    &:hover {
      background-color: $red;
      color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  .woocommerce {
    clear: both;
  }

  + .storefront-product-section {
    margin-top: 40px;
  }
}

.storefront-product-sharing {
  margin-top: 25px;

  ul {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
  }

  .fa {
    font-size: 25px;
    // position: absolute;
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
    // left: 0;
  }

}

ul.products li.product .price, ul.products li.product .star-rating {
  margin-left: 0;
}

.hotline {
  position: fixed;
  z-index: 1000;
  background: #c0392b;
  padding: 10px 20px;
  color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  bottom: 0;
  right: 0;
  width: 100%;

  @media (min-width: 768px) {
    top: 100px;
    right: 0;  
    bottom: auto;
    width: auto;
  }
  // transform: translateX(100%);
  // transition: all 0.2s ease;

  &:hover {
    // transform: translateX(0);    
  }

  .fa {
    // position: absolute;
    // right: 100%;
    // transform: translateX(-100%);
    // padding: 10px;
    // background-color: #c0392b;
    // top: 0;
    // border-radius: 4px 0 0 4px;
  }
  a {
    color: #fff;
  }
  hr {
    display: inline-block;
    margin: 0 5px;
    height: 16px;
    width: 1px;

    @media (min-width: 768px) {
      display: block;
      margin: 5px 0;
      width: auto;
      height: 1px;
    }
  }

  h3 {
    color: #fff;
    font-weight: normal;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1;
  }

  p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    @media (min-width: 768px) {
      display: block;
    }
  }
}

.page-template-template-contact {
  .content-area {
    width: auto;
    float: none;
  }
}

.widget_policy_widget {
  li {
    border-radius: 4px;
    background-color: #fff;

    > a {
      display: block;
      padding: 10px;
    }
    
    &:hover {
      background-color: #f8f8f8;
    }

    + li {
      margin-top: 1px;
    }
  }
}

.price {
  font-size: 20px;
  color: #c0392b;
}

.single-product div.product form.cart .button,
.single-product div.product form.cart .quantity {
  float: none;
}

.single-product div.product form.cart .button {
  margin-top: 20px;
  background-color: #c0392b;
}

@media (min-width: 768px) {
  .site-main .storefront-product-section {
    ul.products {
      // background-color: #fff;
      
      li.product {
       // margin-bottom: 0; 
      }
    }
  }

  .woocommerce-tabs ul.tabs {
    float: none;
    margin-right: 0;
    width: auto;
    text-align: center;
    border-top: 0;

    li {
      display: inline-block;
      border: 0;

      a {
        padding-left: 30px;
        padding-right: 30px;
        color: #ddd;
      }

      &.active {
        box-shadow: inset 0 4px $red;
        
        a {
          color: $red;
          outline: none;
        }
      }

      a:active {
        outline: none;
      }
    }
  }

  .woocommerce-tabs .panel {
    width: auto;
    float: none;
  }
}

