
.header-widget-region {
	.col-full {
		padding: 0;
		max-width: none;
	}

	.swiper-container {
		// margin-top: 10px;
	}
}
.site-header {
	
	
	height: 50px;
	
	.header-inner {
		background-color: #3498db;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
	@media (min-width: 768px) {
		height: auto;
		.header-inner {
			position: static;
			width: auto;
		}
	}
}

.woocommerce-active .site-header {
	padding-top: 0;
	padding-bottom: 0;
	@media (min-width: 768px) {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.main-navigation {
		width: auto;
		margin-right: 0;
		clear: none;
		margin-left: 20px;

		> .menu {
			display: none;
		}

		.primary-navigation {
			// float: left;
		}
	}

	.site-search {
		margin-bottom: 0;
		margin-top: 10px;
	}
}

.site-search .widget_product_search {
	input[type=search],
	input[type=text] {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	form:before {
		top: 50%;
		margin-top: -7px;
		left: 20px;
	}
}

.main-navigation {
	button.menu-toggle {
		z-index: 11;
		padding: 0;
		width: 40px;
		height: 40px;
		border: 0;
		background: none;
    	margin-top: 5px;

		&:focus {
			outline: none;
		}

		@media (min-width: 770px) {
			display: none;
		}
	}

	.primary-navigation {
		display: block;

		.nav-menu {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 10;
			background: rgba(0, 0, 0, 0.9);
			max-height: none;
			transform: translateX(100%);
			transition: all 0.2s ease;

			&[aria-expanded="true"] {
				transform: translate(0);
			}
			li {
				padding: 0 20px;
				@media screen and (min-width: 768px) {
					padding: 0;
				}
				&:first-child {
					margin-top: 40px;
					@media (min-width: 768px) {
						margin-top: 0;
					}

				}
			}
		}

		@media (min-width: 770px) {
			float: left;
			.nav-menu {
				position: static;
				width: auto;
				height: auto;
				transform: none;
				background: none;
			}
		}
	}
}