
.widget .widget-title, 
.widget .widgettitle {
	padding: 10px;
	margin-bottom: 10px;
	background: $red;
	border-radius: 4px;
	color: #fff;
	font-weight: normal;
	font-size: 16px;
}


.widget_recent_entries {
  ul > li {
    background-color: #fff;
    margin-top: 1px;
    padding: 10px;
    border-radius: 0 0 4px 4px;
    margin-bottom: 0;

    &:first-child {
      border-radius: 4px 4px 0 0;
    }

    &:before {
      display: none;
    }
    
    &:after {
      content: '';
      display: block;
      clear: both;
    }

    .img-wrap {
      float: left;
    }

    .content-inner {
      overflow: auto;
      padding-left: 10px;
    }
  }
}

.widget_pages {
  ul {
    margin-bottom: 0;

    > li {
      background-color: #fff;
      border-radius: 4px;
      padding: 10px;

      &:hover {
        background-color: rgba(193, 57, 43, 0.03);
      }
    }
  }
}

.widget-area .widget a, 
.hentry .entry-header .posted-on a, 
.hentry .entry-header .byline a {
  color: #333;
}

.widget_products {
  ul > li {
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;

    + li {
      margin-top: 1px;
    }

    .product-title {
      font-weight: bold;
    }
  }
}

.WP_Editor_Widget {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.widget_price_filter {
  .widget-title {
    background: none;
    color: #333;
    font-size: 25px;
    font-weight: bold;
  }

  .price_label {
    font-weight: bold;
  }
}